<div class="container text-center">
    <div class="row d-flex justify-content-md-between ">
        <ngb-pagination *ngIf="configList"
                        [collectionSize]="configList.count"
                        [(page)]="configList.page"
                        [pageSize]="configList.pageSize"
                        [maxSize]="5"
                        size="md"
                        [directionLinks]="false"
                        [disabled]="isLoading"
                        [rotate]="true"
                        (pageChange)="onChangePage($event)"
                        class="col col-md-4 p-0 d-flex justify-content-md-start justify-content-center"
                        aria-label="Default pagination">
        </ngb-pagination>
        <div class="col col-12 col-md-4 align-self-center mb-4 p-0">
            <form [formGroup]="form">
                <select class="form-select"
                        aria-label="Default select example"
                        formControlName="pagination"
                        (change)="onSelectPagination()">
                    <option value="0">Number of elements</option>
                    <option value="1">10 PER PAGE</option>
                    <option value="2">20 PER PAGE</option>
                    <option value="3">50 PER PAGE</option>
                </select>
            </form>
        </div>
    </div>

</div>
<table class="table table-striped bg-primary bg-opacity-10"
       *ngIf="dataTable&&configList">
    <thead>
        <tr>
            <th scope="col"><i class="fa-solid fa-hashtag"></i></th>
            <th scope="col">Pokémon</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of dataTable.results; let i = index">
            <th scope="row">{{i+getStartNumber()+1}}</th>
            <td><a href="#/pokemon-page/{{pokemon.name}}"
                   class="link-primary">{{pokemon.name | uppercase}}</a></td>
            <td><img [src]="spritesUrl+(i+getStartNumber()+1)+'.png'"
                     alt="pokemon {{pokemon.name}}"></td>
        </tr>
    </tbody>
</table>
<ngb-pagination *ngIf="configList"
[collectionSize]="configList.count"
[(page)]="configList.page"
[pageSize]="configList.pageSize"
[maxSize]="5"
size="md"
[directionLinks]="false"
[disabled]="isLoading"
[rotate]="true"
(pageChange)="onChangePage($event)"
class="d-flex justify-content-center"
aria-label="Default pagination">
</ngb-pagination>