<div *ngIf="pokemon">
    <div class="card">
        <div class="text-center">
            <img [src]="artWorkUrl+pokemon.id+'.png'"
                 class="img-thumbnail rounded"
                 alt="{{pokemon.name}} imagen">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{pokemon.name | uppercase}}</h5>
            <p class="card-text">Data: </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>

    <ngb-carousel [animation]="true"
                  *ngIf="genChainEvol">
        <ng-template ngbSlide
                     *ngFor="let pokemonInChain of genChainEvol;let i = index">
            <div class="text-center text-dark fw-bold">
                <h3>State evolution #{{i+1}}</h3>
            </div>
            <div class="picsum-img-wrapper text-center">
                <img [src]="artWorkUrl+pokemonInChain.id+'.png'"
                     alt="{{pokemonInChain.name}} imagen"
                     class="img-thumbnail rounded">
            </div>
            <div class="carousel-caption text-dark fw-bold">
                <h3>{{pokemonInChain.name | uppercase}}</h3>
            </div>
        </ng-template>

    </ngb-carousel>
</div>